/*
article h2 {
    font-size: 48px;
    line-height: 1em;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
 }

h1 {

  font-size: 18px;
  font-weight:bold;
}

h3 {

  font-size: 14px;
  font-weight:bold;
  margin-bottom:-3%;
}

.story {
   height: 1000px;
   padding: 0;
   margin: 0;
   width: 100%;
   max-width: 1920px;
   position: relative;
   margin: 0 auto;
   font-family: 'Roboto' sans-serif;
 }

/*#first {
  background: url(../images/landing_background.png) 100% 0;
  border: 2px solid red;
}*/
/*
#second { background: url(../images/slide2.jpg) 100% 0;}
#third { background: url(../images/screen3.gif) 100% 0;}
#fourth { background: url(../images/slide3.png) 100% 0;}
#theend { background: url(../images/puckered.png);}*/

/* Introduction */
/*#first .smashinglogo {
  background: url(../images/smashing-logo.png) 50% 100px;
  min-height: 1000px;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 1920px;
  position: relative;
  margin: 0 auto;
}*/

/*#first article {
  width: 100%;
  top: 300px;
  position: absolute;
  text-align: center;
}*/

/*#first article p, #first article a { font-family: 'Open Sans', sans-serif; color: #ccc; }
#first article a { text-decoration: underline; }
#first article a:hover { color: #fff; }*/

/* Background Only */
/*#second { padding: 50px 0;}
#second article {
    padding: 25px 25px;
    margin: 100px 0 0 6%;
    line-height: 1.5em;
    color: #525252;
    position: absolute;
    top: 0;
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
    background: #fff;
    border-radius: 3px;
    max-width: 410px; }
#second article p { margin-bottom: 25px; }
#second article a { color: #ff0;}*/


/* Photograph */
/*#third article {      color: #fff;
    padding: 25px 25px;
    margin: 100px 0 0 60%;
    line-height: 1.5em;
    color: #525252;
    position: absolute;
    top: 0;
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
    background: #fff;
    border-radius: 3px; }*/

/*#third .photograph {
  background: url(../images/photo.png) transparent 40% 100px;
  min-height: 1000px;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 1920px;
  position: relative;
  margin: 0 auto;
}*/


/* HTML5 Video */
/*#fourth article {
    padding: 25px 25px;
    margin: 100px 0 0 6%;
    line-height: 1.2em;
    color: #525252;
    position: absolute;
    top: 0;
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
    background: #fff;
    border-radius: 3px;
    max-width: 410px;
  max-height:800px }*/
/*#fourth article p { width: 300px; margin: 50px 0; }
#fourth video { position: relative; left: 50%; box-shadow: 0 0 25px rgba(0,0,0,0.7); z-index: 1;}*/


/*
footer {
  background:#444;
  border:none;
  line-height:1.5em;
  color:#fff;
  padding:40px;
}*/

/* The End */
/*#theend .byebye { background: url(../images/theend.png) 40% 100px; height: 1000px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; }*/
